<h1> User details</h1>


<div class="row">
  <table class="table" id="userTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col" width="60%">Name</th>
        <th scope="col" width="20%">Status</th>
        <th scope="col" width="20%">Action</th>
      </tr>
    </thead>
    <tbody>

      <% @users.each do |user| %>
      <tr>
        <td><%=user.name%></td>
        <td><%= user.status%></td>
        <td>
          <button type="button" class="btn btn-default">Demote/Promote</button>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
