<h2> Generate new matches for days</h2>

<%= form_for @match do |m| %>
<div class="field">
  <%= m.label :day %><br />
  <%= m.date_field :day, class: "form-control" %>
</div>
<div class="actions" id="generate_match">
  <%= m.submit "push button", class: "btn btn-primary" %>
</div>
<%end%>
