<h2> Generate new matches for day:</h2>
<div class="formborder">
  <%= form_for @match do |m| %>
  <div class="field">
    <%= m.date_field :day, class: "form-control" %>
  </div>
  <div class="actions" id="generate_match">
    <%= m.submit "push button", class: "btn btn-primary" %>
  </div>
  <%end%>
</div>
<div id="generated_list">
  <hr>

</div>
