@import "bootstrap-sprockets";
@import "bootstrap";
.buttonborder{
  border: 1px solid black;
  border-radius: 3px;
}
.nobullets{
  list-style-type: none;
}
.formborder{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}
.background_fade{
  background: linear-gradient(to right, darkgrey , white 10%,white 90%, darkgrey);
  position: float;
  margin-top: -10px;
}
.background_fade_right{
  background: linear-gradient(to left, darkblue, white);
  position: float;
  right: 0px;
  width:10%;

}
.space{
  left: 10%;
}
.no_margin{
  margin: 0px,
}
